@charset "utf-8";

/* 리셋코드 */
*{margin: 0; padding: 0;}
li{list-style: none;}
img,iframe{vertical-align: top;}
/* 문서전체 공통적으로 적용할 스타일 */
:root{
    font-family: "Pretendard Variable";
    font-size: 14px; line-height: 1.6; color: #333;
    

}

header, main, footer{width: 100%;}




.inner{
    max-width: 1400px; margin: 0 auto;
    position: relative;
}
header h1 img{width: 272px;
}
header .logo{margin-bottom: 50px;}
header .menu_icon{display: flex;
    gap: 10px;
}
header .menu_icon .menu_icon1{width: 30px;}
header .header_top{
    display: flex; justify-content: space-between;
    max-width: 1400px;
    border: 1px solid #0f0;
    margin: 0 auto;
}
header .inner{
    height: 97px;
    width: 100%;
}
header .full_menu{
    width: 100%;
    background: linear-gradient(90deg, #103a83 0%, #00667d 50%, #117a6a 100%);
    height: 97px;
}
header .inner ul{
    display: flex; justify-content: space-between;
    font-size: 25px;
    max-width: 1400px;
}
header .inner a{
    color: #fff;
    text-decoration: none;
    line-height: 97px;
    font-weight: bold;
}
header .inner .mega_menu{
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #103a83 0%, #00667d 50%, #117a6a 100%);
}
header .inner .sub_menu{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    padding: 50px 0;
}
header li a:hover { color: #fff; text-decoration: underline; 
}

header .inner li:hover .mega_menu{
    display: block;
}



/*------------------------------------------메인메뉴상단-------------------------------------------------------------------------------------*/
.main_photo{
    border: 1px solid #000;
    width: auto;
    height: 650px;
    background:url(./images/Rectangle.png)
}
.main_photo .text_area{
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
    border: 1px solid #f00;
}
.main_photo h2{
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    left: 0px;
    top: 150px;
    color: #fff;
    text-shadow: 1px 1px 10px #0003;
    
}
.main_photo p{
    font-weight: right;
    font-size: 16px;
    position: absolute;
    left: 0px;
    top: 300px;
    color: #fff;
}

/*---------------------------------main_menu1----------------------------------------------------------------------------------------------*/
.main_menu1 h2{
    margin-bottom: 36px;
}
.main_menu1 .quick{width: 1300px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #333;
    margin: 0 auto;
}
.main_menu1 h3{
    text-align: center;
    margin-bottom: 36px;
    color: #154290;
    font-weight: bold;
    font-size: 24px;
}
.main_menu1 .text{
    text-align: center;
    margin-top: 41px;
    font-size: 15px;
    color: #373636;
}
.main_menu1 .button1:hover .main_icon{background: url(./images/자산\ 9.png); box-shadow: 0 0 10px #0004;}
.main_menu1 .button1:hover .main_icon img { opacity: 0; transition: all .5s;}
.main_menu1 .button2:hover .main_icon img { opacity: 0; transition: all .5s;}
.main_menu1 .button3:hover .main_icon img { opacity: 0; transition: all .5s;}
.main_menu1 .button4:hover .main_icon img { opacity: 0; transition: all .5s;}
.main_menu1 .button2:hover .main_icon{background: url(./images/자산\ 8.png); box-shadow: 0 0 10px #0004;}
.main_menu1 .button3:hover .main_icon{background: url(./images/자산\ 6.png); box-shadow: 0 0 10px #0004;}
.main_menu1 .button4:hover .main_icon{background: url(./images/자산\ 7.png); box-shadow: 0 0 10px #0004;}
.main_menu1{
    outline: 2px solid #0f0;
    margin-top: 100px;
}
.main_menu1 ul{
    display: flex;
    justify-content: space-between;
    gap: 189px;
}
.main_menu1 .main_icon{
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 182px;
    height: 182px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-------------------------------main_menu2------------------------------------------------------------------------------------------------*/
.main_menu2{
    margin-top: 100px;
    outline: 2px solid pink;
    width: 100%;
}
.main_menu2 .menu2_back{
    width: 100%;
    height: 460px;
    margin-top: 10px;
    margin: 0 auto;
    background: #E8EEF8;
    
}
.main_menu2 .menu2_area{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    
}
.main_menu2 .menu2_left input{
    display: none;
}
.main_menu2 .label{
    display: flex;
    justify-content: space-between;
}
.main_menu2 label{
    font-size: 19px;
    font-weight: bold;
    border-right: 1px solid #858585;
    
}
.main_menu2 label:hover{
    color: #37679A;
    font-weight: bold;
    border-bottom: 5px solid #087A78;
    
}

.main_menu2 .menu2_left{
    outline: 2px solid red;
    margin-top: 70px;
}
.main_menu2 .menu2_right{
    display: flex;
    outline: 2px solid darkblue;
    margin-top: 70px;
}
.main_menu2 .menu2_right span{
    background-color: #E59D9D;
    color: #fff;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
}
.main_menu2 .menu_right img{
    width: 350px; height: 250px;
}
.menu_right .signal img{
    width: 370px; height: 130px;
}
.main_menu2 .menu2_left li{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.contents { display: none; }
.main_menu2 .news label{
    cursor: pointer;
}
.menu2_area .news #news_notice:checked ~ #t1,
.menu2_area .news #news_press:checked ~ #t2,
.menu2_area .news #news_open:checked ~ #t3,
.menu2_area .news #news_clean:checked ~ #t4{display: block;}























/*-------------------------------main_menu3------------------------------------------------------------------------------------------------*/
.main_menu3{
    outline: 2px solid yellow;
}
.main_menu3 .menu3_image{
    background: url(./images/Rectangle\ 121.png);
    width: 100%;
    height: 650px;
}
.main_menu3 h3, li{
    color: #fff;
}
.main_menu3 .main3_area{
    display:flex;
    justify-content: space-between;
}
.main_menu3 .left1{
    display: flex;
    padding: 50px;
}
.main_menu3 .main3_content{
    border: 1px solid #fff;
    border-radius: 30px 0 30px 0;
    padding: 25px 25px;
    width: 635px;
}
.main_menu3 ul{
    display: flex;
}
.main_menu3 .left_content{
    margin-right: 20px;
}
/*-------------------------------main_menu4------------------------------------------------------------------------------------------------*/
.main_menu4{
    outline: 2px solid saddlebrown;
}
.main_menu4 .open{
    display: flex;
    justify-content: space-between;
}
.main_menu4 ul{
    display: flex;
}
.main_menu4 img{
    width: 280px; height: 380px;
}
.right_grid{
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
}




/*-------------------------------main_menu5------------------------------------------------------------------------------------------------*/
.main_menu5{
    outline: 2px solid firebrick;
}




/*-------------------------------main_menu6------------------------------------------------------------------------------------------------*/
.main_menu6{
    outline: 2px solid indigo;
}
