@charset "utf-8";

/* 리셋코드 */
*{margin: 0; padding: 0;}
li{list-style: none;}
img,iframe{vertical-align: top;}
/* 문서전체 공통적으로 적용할 스타일 */
:root{
    font-family: "Pretendard Variable";
    font-size: 14px; line-height: 1.6; color: #333;
    

}

header, main, footer{width: 100%;}




.inner{
    max-width: 1400px; margin: 0 auto;
    position: relative;
}
header h1 img{width: 272px;
}
header .logo{margin-bottom: 50px;}
header .menu_icon{display: flex;
    gap: 10px;
}
header .menu_icon .menu_icon1{width: 30px;}
header .header_top{
    display: flex; justify-content: space-between;
    max-width: 1400px;
    border: 1px solid #0f0;
    margin: 0 auto;
}
header .inner{
    height: 97px;
    width: 100%;
}
header .full_menu{
    width: 100%;
    background: linear-gradient(90deg, #103a83 0%, #00667d 50%, #117a6a 100%);
    height: 97px;
}
header .inner .main_menu{
    display: flex; justify-content: space-between;
    font-size: 25px;
    max-width: 1400px;
}
header .main_menu a{
    color: #fff;
    text-decoration: none;
    line-height: 97px;
    font-weight: bold;
}
header .inner .mega_menu{
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #103a83 0%, #00667d 50%, #117a6a 100%);
    padding: 40px 0;
    z-index: 20;
}
header .mega_menu a{
    font-weight: 100;
    color: #fff;
}
header .mega_menu strong{
    font-weight: bold;
}

header li a:hover { color: #fff; text-decoration: underline; 
}

/* 대메뉴 스타일 */
.main_menu {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    height: 97px; /* 헤더 높이 */
}

.main_menu li {
    flex: 1; /* 대메뉴들이 동일한 간격을 가짐 */
    text-align: center;
}

.main_menu li a {
    line-height: 97px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
}

/* 메가메뉴 판 (숨겨져 있다가 나타남) */
.mega_menu {
    display: none; /* 평소엔 숨김 */
    position: absolute;
    left: 0;
    top: 97px; /* 대메뉴 바로 아래에 붙음 */
    width: 100%;
    background: linear-gradient(90deg, #103a83 0%, #00667d 50%, #117a6a 100%);
    padding: 40px 0;
    z-index: 1000;
}

/* 서브메뉴 컬럼들을 감싸는 통 */
.mega_inner {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}

/* ★중요: 서브메뉴 항목들을 세로로 정렬 */
.sub_column {
    flex: 1; /* 대메뉴와 동일한 너비를 가짐 */
    display: flex;
    flex-direction: column; /* 항목들을 아래로 쌓음 */
    gap: 15px; /* 항목 간의 위아래 간격 */
    list-style: none;
    text-align: center;
}

.sub_column a {
    color: #fff;
    font-size: 16px;
    line-height: normal; /* 대메뉴의 97px 상속 해제 */
    text-decoration: none;
    opacity: 0.8;
    padding: 0 10px;
}

.sub_column a:hover {
    opacity: 1;
    text-decoration: underline;
}

/* 마우스 호버 시 보여주기 */
header:hover .mega_menu {
    display: block;
}



/*------------------------------------------메인메뉴상단-------------------------------------------------------------------------------------*/
.main_photo{
    border: 1px solid #000;
    width: 100%;
    height: 650px;
    background:url(./images/Rectangle.png)
    no-repeat
}
.main_photo .text_area{
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
    border: 1px solid #f00;
}
.main_photo h2{
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    left: 0px;
    top: 150px;
    color: #fff;
    text-shadow: 1px 1px 10px #0003;
    
}
.main_photo p{
    font-weight: right;
    font-size: 16px;
    position: absolute;
    left: 0px;
    top: 300px;
    color: #fff;
}

/*---------------------------------main_menu1----------------------------------------------------------------------------------------------*/
.main_menu1 h2{
    margin-bottom: 36px;
}
.main_menu1 .quick{width: 1300px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #333;
    margin: 0 auto;
}
.main_menu1 h3{
    text-align: center;
    margin-bottom: 36px;
    color: #154290;
    font-weight: bold;
    font-size: 24px;
}
.main_menu1 .text{
    text-align: center;
    margin-top: 41px;
    font-size: 15px;
    color: #373636;
}
.main_menu1 .button1:hover .main_icon{background: url(./images/자산\ 9.png); box-shadow: 0 0 10px #0004;}
.main_menu1 .button1:hover .main_icon img { opacity: 0; transition: all .5s;}
.main_menu1 .button2:hover .main_icon img { opacity: 0; transition: all .5s;}
.main_menu1 .button3:hover .main_icon img { opacity: 0; transition: all .5s;}
.main_menu1 .button4:hover .main_icon img { opacity: 0; transition: all .5s;}
.main_menu1 .button2:hover .main_icon{background: url(./images/자산\ 8.png); box-shadow: 0 0 10px #0004;}
.main_menu1 .button3:hover .main_icon{background: url(./images/자산\ 6.png); box-shadow: 0 0 10px #0004;}
.main_menu1 .button4:hover .main_icon{background: url(./images/자산\ 7.png); box-shadow: 0 0 10px #0004;}
.main_menu1{
    outline: 2px solid #0f0;
    margin-top: 100px;
}
.main_menu1 ul{
    display: flex;
    justify-content: space-between;
    gap: 189px;
}
.main_menu1 .main_icon{
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 182px;
    height: 182px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-------------------------------main_menu2------------------------------------------------------------------------------------------------*/
.main_menu2{
    margin-top: 100px;
    outline: 2px solid pink;
    width: 100%;
}
.main_menu2 h2{
    width: 1400px;
    margin: 0 auto;
}
.main_menu2 .menu2_back{
    width: 100%;
    height: 460px;
    margin-top: 10px;
    margin: 0 auto;
    background: #E8EEF8;
    
}
.main_menu2 .menu2_area{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    
}
.menu2_left input{
    display: none;
}

.main_menu2 label{
    font-size: 19px;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
    margin-left: 40px;
    
    
}
.main_menu2 input:checked + label,
.main_menu2 label:hover{
    color: #37679A;
    font-weight: bold;
    border-bottom: 5px solid #087A78;
    
}
.menu2_left .left_border{
    border-bottom: 1px solid black;
}

.menu2_left{
    outline: 2px solid red;
    margin-top: 70px;
}
.menu2_left hr{
    background: #D8D5D5;
    border: 0;
    height: 1px;
}
.menu2_left li{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-bottom: 1px solid black;
}
.menu2_right{
    display: flex;
    outline: 2px solid darkblue;
    margin-top: 70px;
}
.menu2_right ul{
    position: relative;
}
.menu2_right .signal{
    margin-left: 27px;
}
.menu2_right .issue strong{
    position: absolute;
    top:10px;
    left: 10px;
    font-size: 23px;
    text-shadow: 3px 3px 4px #0003;
}
.menu2_right .signal li{
    margin-bottom: 19px;
}
.menu2_right span{
    display: inline-block;
    margin-bottom: 15px;
}
.menu2_right span{
    background-color: #E59D9D;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
}

.contents { display: none; }
.main_menu2 .news label{
    cursor: pointer;
}
.menu2_area .news #news_notice:checked ~ #t1,
.menu2_area .news #news_press:checked ~ #t2,
.menu2_area .news #news_open:checked ~ #t3,
.menu2_area .news #news_clean:checked ~ #t4{display: block;}























/*-------------------------------main_menu3------------------------------------------------------------------------------------------------*/
.main_menu3{
    outline: 2px solid yellow;
    margin-top: 100px;
}
.main_menu3 .menu3_image{
    background: url(./images/Rectangle\ 121.png);
    width: 100%;
    height: 650px;
}
.main_menu3 .left_data{
    outline: 1px solid greenyellow;
    width: 800px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main_menu3 .left_data li{
    padding: 10px;
    white-space: nowrap;
}
.main_menu3 h3{
    color: #fff;
    font-size: 20px;
}
.main_menu3 li{
    font-size: 17px;
    color:#fff;
}
.main_menu3 .main3_area{
    display:flex;
    justify-content: space-between;
    height: 100%;
}
.main_menu3 .left_content{
    width: 20%;
    text-align: center;
}
.main_menu3 .left1{
    display: flex;
    padding: 0 50px;
    outline: 1px solid red;
}
.main_menu3 .main3_content{
    border: 1px solid #fff;
    border-radius: 30px 0 30px 0;
    padding: 25px 25px;
    width: 635px;
}
.main_menu3 ul{
    display: flex;
}
.main_menu3 .left_content{
    margin-right: 20px;
}
.main_menu3 .right_content ul{
    display: flex;
    flex-wrap: wrap;
    padding-top: 94px;
    padding-left: 53px;
    width: 100%;
    
}
.main_menu3 data{
    margin: 0 auto;
}
.main_menu3 .right_content li{
    padding: 10px;
}

.main_menu3 .right_content a{
    display: block;
}

.right_content .rb1:hover{background: url(./images/Group\ 81-1.png); box-shadow: 0 0 10px #0003;}
.right_content .rb2:hover{background: url(./images/Group\ 82-1.png); box-shadow: 0 0 10px #0003;}
.right_content .rb3:hover{background: url(./images/Group\ 83-1.png); box-shadow: 0 0 10px #0003;}
.right_content .rb4:hover{background: url(./images/Group\ 84-1.png); box-shadow: 0 0 10px #0003;}










/*-------------------------------main_menu4------------------------------------------------------------------------------------------------*/
.main_menu4{
    outline: 2px solid saddlebrown;
    height: 900px;
}
.main_menu4 .open{
    display: flex;
    justify-content: space-between;
}
.main_menu4 ul{
    display: flex;
}
.main_menu4 img{
    width: 280px; height: 380px;
}
.main_menu4 .open_card{
    margin-top: 43px;
}

.main_menu4 .open .lead{
    font-size: 33px;
    font-weight: 600;
}
.main_menu4 .open_text .text1{
    color: #134290;
}
.main_menu4 .open_text .text2{
    color: #0e7c78
}
.main_menu4 .right_card{
    position: relative;
}
.main_menu4 .card_text{
    position: absolute;
    top: 290px;
    color: #fff;
    font-weight: 200;
    font-size: 11px;
    left: 10px;
}
.main_menu4 .card_text h4{
    font-size: 20px;
}





















/*-------------------------------main_menu5------------------------------------------------------------------------------------------------*/
.main_menu5{
    outline: 2px solid firebrick;
}




/*-------------------------------main_menu6------------------------------------------------------------------------------------------------*/
.main_menu6{
    outline: 2px solid indigo;
}
