@charset "utf-8";

/* 리셋코드 */
*{margin: 0; padding: 0;}
li{list-style: none;}
img,iframe{vertical-align: top;}
/* 문서전체 공통적으로 적용할 스타일 */
:root{
    font-family: "Pretendard Variable";
    font-size: 14px; line-height: 1.6; color: #333;
    

}

header, main, footer{width: 100%;}




.inner{
    max-width: 1400px; margin: 0 auto;
    position: relative;
}
header h1 img{width: 272px;
}
header .menu_icon{display: flex;
    gap: 10px;
}
header .menu_icon .menu_icon1{width: 30px;}
header .header_top{
    display: flex; justify-content: space-between;
    max-width: 1400px;
    border: 1px solid #0f0;
    margin: 0 auto;
}
header .inner{
    height: 97px;
    width: 100%;
}
header .full_menu{
    width: 100%;
    background: linear-gradient(90deg, #103a83 0%, #00667d 50%, #117a6a 100%);
    height: 97px;
}
header .inner ul{
    display: flex; justify-content: space-between;
    font-size: 25px;
    max-width: 1400px;
}
header .inner a{
    color: #fff;
    text-decoration: none;
    line-height: 97px;
    font-weight: bold;
}
header .inner .mega_menu{
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #103a83 0%, #00667d 50%, #117a6a 100%);
}
header .inner .sub_menu{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    padding: 50px 0;
}
header li a:hover { color: #fff; text-decoration: underline; 
}

header .inner li:hover .mega_menu{
    display: block;
}



/*------------------------------------------메인메뉴상단-------------------------------------------------------------------------------------*/
.main_photo{
    border: 1px solid #000;
    width: auto;
    height: 650px;
    background:url(./images/Rectangle.png)
}
.main_photo .text_area{
    max-width: 1400px;
    position: relative;
}
.main_photo h2{
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    left: 260px;
    top: 150px;
    color: #fff;
    text-shadow: 1px 1px 10px #0003;
    
}
.main_photo p{
    font-weight: right;
    font-size: 16px;
    position: absolute;
    left: 260px;
    top: 300px;
    color: #fff;
}
/*---------------------------------main_menu1----------------------------------------------------------------------------------------------*/
.main_menu1 h2{
    margin-bottom: 36px;
}
.main_menu1 .quick{width: 1300px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #333;
    margin: 0 auto;
}
.main_menu1 h3{
    text-align: center;
    margin-bottom: 36px;
    color: #154290;
    font-weight: bold;
    font-size: 24px;
}
.main_menu1 .text{
    text-align: center;
    margin-top: 41px;
    font-size: 14px;
}
.main_menu1{
    border: 1px solid #0f0;
    margin-top: 100px;
}
.main_menu1 ul{
    display: flex;
    justify-content: space-between;
    gap: 189px;
}
.main_menu1 .main_icon{
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 182px;
    height: 182px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-------------------------------main_menu3------------------------------------------------------------------------------------------------*/
.main_menu3 .menu3_image{
    background: url(./images/R);
    width: 100%;
    height: 650px;
}
.main_menu3 h3, li{
    color: #fff;
}

